body {
  background-color: #f5f5f5;
  font-family: "Segoe UI", Arial, sans-serif;
}
.table-pos th {
  background-color: #da9a6fff;
  color: white;
  text-align: center;
}

.table-pos td {
  vertical-align: middle;
}
.btn-ssi {
  border: none;
  border-radius: 6px;
  background: #da9a6fff;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-ssi:hover {
  background: #bc8560ff;
}

#card-container {
  justify-content: flex-start;
}

.card {
  flex: 1 1 15rem;
  max-width: 19rem;
  min-width: 16rem;
}

.text-ssi{
  color: #da9a6fff;
}

.border-d{
  border-right: 5px;
  background-color: #fff;
  height: 45px;
  width:2px;
}

.bg-ssi{
  background-color: #da9a6fff;
}

.clickable-row {
  cursor: pointer;
}
.clickable-row:hover {
  background-color: #f8f9fa;
}

.table-sm th, .table-sm td {
  padding: 0.3rem;
  font-size: 0.8rem;
  vertical-align: middle;
}

thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}


:root {
  --custom-tab-color: #d2966a;
  --custom-tab-hover: #bb7c4d;
  --custom-tab-text: #fff;
}

/* Tab default (tidak aktif) */
.nav-tabs .nav-link {
  color: var(--custom-tab-color);
  border: 1px solid var(--custom-tab-color);
  border-bottom: none;
  background-color: #fff;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

/* Saat hover */
.nav-tabs .nav-link:hover {
  background-color: var(--custom-tab-hover);
  color: var(--custom-tab-text);
}

/* Tab aktif */
.nav-tabs .nav-link.active {
  background-color: var(--custom-tab-color);
  color: var(--custom-tab-text);
  border-color: var(--custom-tab-color);
}

/* Garis bawah aktif hilang */
.nav-tabs {
  border-bottom: 1px solid var(--custom-tab-color);
}
