<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gudang</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div id="sidebar-container" class="col-md-3 col-lg-2 px-0"></div>
        <div class="col-md-9 col-lg-10 px-0">
          <div class="main-content p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h2 class="mb-0">Daftar Warehouse</h2>
            </div>
            <div class="container mt-4">
              <div id="card-container" class="d-flex flex-wrap gap-3">
                <!-- isi -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/gudang.js"></script>
    <script src="../js/route.js"></script>
    <script src="../../services/env.js"></script>
  </body>
</html>
