<div class="sidebar" id="sidebar">
  <div class="sidebar-brand">
    <i class="fas fa-box-open"></i> Admin
  </div>
  <nav class="nav flex-column mt-3">
    <a class="nav-link active" href="#" data-page="dashboard">
      <i class="fas fa-home"></i> Dashboard
    </a>
    <a class="nav-link" href="#" data-page="gudang">
      <i class="fas fa-warehouse"></i> Gudang
    </a>
    <a class="nav-link" href="#" data-page="stok_opname">
      <i class="fas fa-exchange-alt"></i> Stok Opname
    </a>
    <a class="nav-link" href="#" data-page="menu-peminjaman">
      <i class="fas fa-chart-bar"></i> Peminjaman
    </a>
    <hr class="text-white mx-3">
    <a class="nav-link" href="#" id="profil">
      <i class="fa-solid fa-user"></i> Profil
    </a>
    <a class="nav-link" href="#" id="logoutBtn">
      <i class="fas fa-sign-out-alt"></i> Keluar
    </a>
  </nav>
</div>
